* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: inherit;
}

body {
  background-color: rgb(223, 223, 223);
}

.nav h1 {
  font-size: 1.5rem;
  font-family: 'Pacifico', cursive;
  margin-left: 1rem;
 color:rgb(48, 223, 179);
}

section:nth-child(2n + 1) {
  background-color: white;
  
}
.nav {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(70, 70, 70);

  box-shadow: 0 2px 1rem var(--dark-026);
  z-index: 100;
}

.nav .menu ul {
  list-style: none; 
  display: flex;
  align-items: center;
}
.nav .menu ul a {
  color: rgb(48, 223, 179);
  text-decoration: none; 

  display: inline-block;  
  line-height: 1; 
  font-size: 1.125rem;
  padding: calc(1.25rem - 4px) 2rem;

  transition: color,background-color 0.3s;

  border-right: 1px solid var(--dark-012);
  border-top: 4px solid transparent; 
  border-bottom: 4px solid transparent; 
}
.nav .menu ul li:last-child a {
  border-right: none;
}


.nav .menu ul a:hover {
  background-color: rgb(48, 223, 179);
  color: white;
  border-bottom: 4px solid var(--secondary-050);
}

header .container {
  display: flex;
  align-items: center;
  height: 100px;
}

header .container h1 {
  font-weight: normal;
  font-size: 2.5rem;
  flex: 1;
}


/* スライドショー */
#top {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  background-size: cover;
  background-position: center center;
}

#top>h1 {
  text-align: center;
  font-size: 5rem;
  text-shadow: 1px 1px 3px #ffffff, -1px -1px 0px #ebebeb;

}

.slider-controller {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}

.slider-controller ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  
}

#sc-to-left,
#sc-to-right {
  display: inline-block;
  font-size: 2rem;
  width: 120px;
  line-height: 3em;
  background-color: #bbb;
  color: #f0f0f0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.75;
}

section[role="main"]>article,
section[role="main"]>aside {
  width: 960px;
  max-width: 95vw;
  margin: 0 auto;
 
}

section[role="main"] {
  padding-top: 120px;
  padding-bottom: 120px;
  
}


  /* main */


  h1 {
    text-align: center;
  }
 
  h2{
      margin-bottom: 40px;
      text-align: center;
      font-size: 2rem;
  }
  
  h2 span{
      font-size: 0.4em;
      color: #686868;
      line-height: 0.8em;
  }
  
  h3{
      line-height: 1.2em;
  }
  
  img{
    width: 300px;
    height: 200px;
    cursor: pointer;
   
  }


  .work{
    margin: 0 auto;
}

.wrapper{
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item-wrap{
    margin: 5px;
    display: inline-block;
    
}

.content {
    height: 200px;
    margin: 70px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 50% 50%;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
    text-decoration: none;
}



  .popup_wrap input{
    display: none;
  }
  
  .popup_overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transform: scale(0);
  }
  
  .popup_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .popup_content {
    position: relative;
    align-self: center;
    width: 50%;
    max-width: 600px;
    margin: auto;
    padding: 30px 30px 15px;
    box-sizing: border-box;
    background: rgb(231, 226, 218);
    line-height: 1.4em;
    transition: 0.5s;
  }
  
  .popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
  }
  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }
  .popup-inner {
    position: fixed;
    left: 100%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    max-width: 1000px;
    padding: 50px;
    background-color:rgb(0, 0, 0, .8);
    z-index: 2;
  }
  .popup-inner img {
    width: 800px;
    height: 500px;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }
  .close-btn i {
    font-size: 20px;
    color: rgb(150, 150, 150);
  }


  .color_img{
    margin-bottom: 20px;
}

.salon_logo{
    margin: 20px 0;
}

/* btn */
.site_btn{
  text-align: center;
}

.btn-flat-border {
display: inline-block;
padding: 0.3em 1em;
text-decoration: none;
color: #67c5ff;
border: solid 2px #67c5ff;
border-radius: 3px;
transition: .4s;
}

.btn-flat-border:hover {
background: #67ffe6;
color: white;
}

.close_btn {
position: absolute;
top: 14px;
right: 16px;
font-size: 30px;
cursor: pointer;
}

.popup_wrap input:checked ~ .popup_overlay {
opacity: 1;
transform: scale(1);
transition: opacity 0.5s;
}

.open_btn {
position: relative;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
width: 200px;
height: 40px;
margin:10px auto;
padding: 8px 16px;
color: #fff;
background:#52bea3;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
border-radius: 3px;
cursor: pointer;
transition: .3s ease;

}
.open_btn:hover{
  background:#79bd21;
  color:#fff;
  transition: .3s ease;
}



.modal_img{
    width: 100%;
    margin-bottom: 20px;
    
}

.modal_img img{
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 12px grey;
}

.modal_info{
    margin-bottom: 10px;
}

.modal_info dl{
    margin: 10px 0 20px;
    padding: 20px;
    font-size: 0.8em;
    background-color: #f1f1f1;
}

.modal_info dt{
    float: left;
    margin-right: 20px;
    font-weight: bold;
}

.modal_design h4{
    margin: 20px 0;
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 5px #68a9cf;
}

.modal_design h5{
    margin-bottom: 10px;
    border-bottom: solid 3px #68a9cf;
}

.modal_design p{
    margin-bottom: 10px;
}



.profile {
  margin-top: 5em;
}
.profile h2 {
  font-size: 30pt;
}

.profile-photo {
  display: block; 
  width: 300px; 
  height: 300px; 
  border-radius: 50%; 
}
 .profile-text{
  text-align: center;
  font-family: serif;
  font-size: 18pt;
  
  list-style: none; 
}


.skill {
  margin-top: 5em;
}
.skill h2 {
  font-size: 30pt;
}
.skill li{
 font-size: 20pt;
 text-align: center;
  list-style: none; 
  font-family: serif;
}

.skill2 {
  margin-top: 5em;
}
.skill2 h2 {
  font-size: 30pt;
}
.skill2 li {
 font-size: 20pt;
 text-align: center;
  list-style: none; 
  font-family: serif;
}

footer {
  width: 100%;
  background-color: rgb(70, 70, 70);
  color:rgb(48, 223, 179);
  text-align: center;
  padding: 30px 0;
  bottom: 0; 
}

