* {
    margin: 0;
    padding: 0;
}
 
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: #55e0ce;
}
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}
section:nth-child(2n + 1) {
  background-color: var(--primary-050);
  color: var(--secondary-050);
}
.nav {
  position: fixed; /* 固定 */
  top: 0;
  left: 0;
  width: 100%;   /* 幅調整 */

  display: flex;
  align-items: center;
  /* 子要素の間を開けて端っこピッタリ */
  justify-content: space-between;

  /* 背景設定しないとナビゲーションの背景が透明のまま */
  background-color: #fff;

  box-shadow: 0 2px 1rem var(--dark-026);
}

.nav .menu ul {
  list-style: none; /* 点を消す */
  display: flex;
  align-items: center;
}
.nav .menu ul a {
  color: yellowgreen;
  text-decoration: none; /* 文字下線消す */

  display: inline-block;  /* 画像と同じ扱いにする */
  line-height: 1; /* 文字高さを1としておくことで無駄な余白がない */
  font-size: 1.125rem;
  padding: calc(1.25rem - 4px) 2rem;

  transition: color,background-color 0.3s;

  border-right: 1px solid var(--dark-012);
  border-top: 4px solid transparent; 
  border-bottom: 4px solid transparent; 
}
.nav .menu ul li:last-child a {
  border-right: none;
}

/* マウスカーソルが乗っかった時 */
.nav .menu ul a:hover {
  background-color: rgb(48, 223, 179);
  color: white;
  border-bottom: 4px solid var(--secondary-050);
}

/* header .container {
  display: flex;
  align-items: center;
  height: 100px;
}

header .container h1 {
  font-weight: normal;
  font-size: 2.5rem;
  flex: 1;
}

#menu{
    position: absolute;
    top: 0;
    left: -40%;
    width: 40%;
    height: 100vh;
    background: #ffffff;
    transition: 0.7s;
}

#menu ul{
  padding-top: 80px;
  
}
#menu ul li{
  list-style-type: none;
  font-size: 20px;
  
}
#menu a{
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 15px;
  padding: 10px;
  transition: 0.5s;
  z-index: 10000000000;
}
#menu li a:hover{
  color: #ffffff;
  background: #41bfe6;
  border-bottom: none;
} */
/* ハンバーガーメニュー
#hamburger {
  position: fixed;
  display: flex;
  position: absolute;
  top: 20px;
  left: 30px;
  width: 50px;
  height: 44px;
  cursor: pointer;
  transition: 1s;
}
.inner_line {
  display: flex;
  position: absolute;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #ffffff;
  transition: 1s;
  border-radius: 4px;
}
#line1 {
  top: 0;
}
#line2 {
  top: 20px;
}
#line3 {
  bottom: 0px;
}
.in{
  transform: translateX(100%);
}
.line_1,.line_2,.line_3{
  background: #000000;
  
}
.line_1 {
  transform: rotate(45deg);
  top: 0;
}
.line_2 {
  opacity: 0;
}
.line_3 {
  transform: rotate(-45deg);
  bottom: 0;
} */

/* スライドショー */
#top {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  background-size: cover;
  background-position: center center;
}

#top>h1 {
  text-align: center;
  font-size: 5rem;
  text-shadow: 1px 1px 3px #ffffff, -1px -1px 0px #ebebeb;

}

.slider-controller {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}

.slider-controller ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  
}

#sc-to-left,
#sc-to-right {
  display: inline-block;
  font-size: 2rem;
  width: 120px;
  line-height: 3em;
  background-color: #bbb;
  color: #f0f0f0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.75;
}

section[role="main"]>article,
section[role="main"]>aside {
  width: 960px;
  max-width: 95vw;
  margin: 0 auto;
 
}

section[role="main"] {
  padding-top: 120px;
  padding-bottom: 120px;
  
}

 /* main */
 
 .main-image {
    margin: 0 auto;
    padding: 10px 5px;
}
.main-image h1 {
    font-family: "遊明朝", YuMincho;
    text-align: center;
    padding: 10px;
}
.gallery {
    list-style: none;
    font-size: 0;
    text-align: center;
}
.item {   
    margin: 5px;
    display: inline-block;
    transition-duration: 0.5s;
}
figcaption {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
img {
    width: 300px;
    height: 200px;
    cursor: pointer;
  
}
.item:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
  }



  
  .popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
  }
  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }
  .popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    max-width: 1000px;
    padding: 50px;
    background-color:rgb(0, 0, 0, .8);
    z-index: 2;
  }
  .popup-inner img {
    width: 800px;
    height: 500px;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }
  .close-btn i {
    font-size: 20px;
    color: #333;
  }
  